@model  WebApp_MVC_L58_CodeBoot_31523.Models.tblEmployee
   
@{
    ViewBag.Title = "create";
}

<h2>Employee Registration</h2>

@using (Html.BeginForm("Create", "Employee", FormMethod.Post))
{
    <table>
        <tr> 
            <td>@Html.LabelFor(a => a.Name):</td>
            @*<td>@Html.TextBoxFor(a => a.Name)</td>*@
            <td>@Html.EditorFor(a => a.Name)</td>
            <td style="color:red">@Html.ValidationMessageFor(a => a.Name)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.City) :</td>
            <td>@Html.EditorFor(a => a.City)</td>
            <td style="color:red">@Html.ValidationMessageFor(a => a.City)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(a => a.Salary) :</td>
            <td>@Html.EditorFor(a => a.Salary)</td>
            <td style="color:red">@Html.ValidationMessageFor(a => a.Salary)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Save" /></td>
        </tr>
    </table>

}



