@model IEnumerable<WebApp_MVC_Code_L62_ChngePas_6123.Models.Join>

@{
    ViewBag.Title = "UserHome";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h2>User Home</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table" style="background-color:indigo;color:white">
    <tr style="background-color:greenyellow;color:black">
        <th>
            @Html.DisplayNameFor(model => model.rid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Countryname)
        </th>
        @*<th></th>*@
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.rid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Countryname)
            </td>
            @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.rid }) |
                    @Html.ActionLink("Details", "Details", new { id=item.rid }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.rid })
                </td>*@
        </tr>
    }

</table>